.carousel-caption {
    color: orange;
    background-color: rgba(1, 1, 1, 0.3);
    caption-side: bottom;
    font-family: 'Antic Slab', serif;
    font-size: 100px;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;

}
.carousel-inner{
    bottom: 25%;
    max-width: inherit;
    width: auto !important;
    margin: 0 auto;
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

.Digital{
    background: no-repeat center center fixed; 
}

.Code   {
    background: no-repeat center center fixed; 
}

.Design{
    background: no-repeat center center fixed; 
}
.navbar {
    
    font-family: 'Antic Slab', serif;
    
  
}
.media{
    font-family: 'Antic Slab',serif;
    font-size: 20px;
  
}
.media-sub-heading {
   color: orange;
}

.header {
    font-family: 'Antic Slab', serif;
    text-align: center;
    font-size: 100px;;
}

.description{
    text-align: center;
    font-size: 20px;
    font-family: 'Antic Slab', serif;
}

.footer {
 
    background-color: #fafaff;
    border-top: 1px solid #ededed;
    padding: 30px;
    position: bottom;
  
    color: #484848;
    text-align: center;
}
@media (min-width: 768px) {
  
    .navbar-collapse {
        height: auto !important;
        padding-left: 0 !important;
    }
 
    
}

@media (max-width: 768px) {
    .formInput{
        height: auto !important;
        width: auto !important;
    }
    .carousel-inner {
        height: auto
    }
.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0 !important;
}

.modal {
    text-align: center;
    padding: 0!important;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}
