.carousel-caption {
    color: turquoise;
    background-color: rgba(1, 1, 1, 0.3);
    caption-side: bottom;
    font-family: 'Antic Slab', serif;
}


.header {
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: 'Antic Slab', serif;
}
.navbar {
    font-family: 'Antic Slab', serif;
}