.carousel-caption {
    color: turquoise;
    background-color: rgba(1, 1, 1, 0.3);
    caption-side: bottom;
    font-family: 'Antic Slab', serif;
    font-size: 100px;
    bottom: 50%;
}

.navbar {
    font-family: 'Antic Slab', serif;
    
  
}
.media{
    font-family: 'Antic Slab',serif;
    font-size: 20px;
  
}
.media-sub-heading {
   color: orange;
}

.header {
    font-family: 'Antic Slab', serif;
    text-align: center;
    font-size: 100px;;
}

.description{
    text-align: center;
    font-size: 20px;
    font-family: 'Antic Slab', serif;
}

.footer {
 
    background-color: #fafaff;
    border-top: 1px solid #ededed;
    padding: 30px;
    z-index: 2;
    position: relative;
    color: #484848;
    text-align: center;
}
